@page "/counter"
@using System.IO
@inject MessageService _message

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<div>
    <InputFile OnChange="OnInputFileChange" id="input-file"/>
</div>

<div>
    <h3>@fileName</h3>
    <p>@fileContent</p>
</div>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }

    private string fileName { get; set; } = "";
    private string fileContent { get; set; } = "";

    private async Task OnInputFileChange(InputFileChangeEventArgs eventArgs)
    {
        fileName = eventArgs.File.Name;
        Console.WriteLine($"Got input file: {eventArgs.File.Name}");
        using var reader = new StreamReader(eventArgs.File.OpenReadStream());
        fileContent = await reader.ReadToEndAsync();
        StateHasChanged();
    }
}
